# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# SQLite
*.db
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/cache/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/